<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "lakeL.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
    <div class="col">
      <%= image_tag "banff.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
  </div>
</div>
</br>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "banffdt.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
    <div class="col">
      <%= image_tag "calgarybar.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
  </div>
</div>
</br>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "shelby.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
    <div class="col">
      <%= image_tag "natalia.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
  </div>
</div>
</br>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "banff1.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
    <div class="col">
      <%= image_tag "calgary1.png", height: 300,class:"rounded mx-auto d-block" %>
    </div>
  </div>
</div>

</body>
</html>
