 <div id="<%= dom_id expense_tracker %>">
  <p>
    <%= expense_tracker.date %>
  </p>

  <p>
    <%= expense_tracker.place %>
  </p>

  <p>
    <%= expense_tracker.category %>
  </p>

  <p>
    <%= expense_tracker.amount %>
  </p>

  <p>
    <%= expense_tracker.total %>
  </p>

</div>
