 <div id="<%= dom_id expense_tracker %>">
  <p>
    <strong>Date:</strong>
    <%= expense_tracker.date %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= expense_tracker.place %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense_tracker.category %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense_tracker.amount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= expense_tracker.total %>
  </p>

</div>
