 <div id="<%= dom_id expense_tracker %>">
   <table class="table table-hover">
     <thead>
     <tr>
       <th scope="col">Date</th>
       <th scope="col">Place</th>
       <th scope="col">Category</th>
       <th scope="col">Amount</th>
     </tr>
     </thead>
       <tbody>
       <tr>
         <td><%= expense_tracker.date %></td>
         <td><%= expense_tracker.place %></td>
         <td><%= expense_tracker.category %></td>
         <td><%= expense_tracker.amount %></td>
     </tr>
     </tbody>
   </table>
</div>
